@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jerusalem<br />
    Israel<br />
    <abbr title="Phone">P:</abbr>
    054-5555555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:KobiEliasi@gmail.com">KobiEliasi@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:KobiEliasi@example.com">KobiEliasi@example.com</a>
</address>