@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Kobi Eliasi's</h1>
    <p class="lead">ASP.NET Web site application.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more on asp.net &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p>
            Movies database page.
        </p>
        <p><a class="btn btn-default" href="../movies">Movies page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>About this site.</p>
        <p><a class="btn btn-default" href="../home/about">About page &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Contact information.</p>
        <p><a class="btn btn-default" href="../home/contact">Contact page &raquo;</a></p>
    </div>
</div>